#fightArea img {
    text-align: center;
    height: 900px;
    width:100%;

}
.container {
    background-color: slategrey;
}
button{
    height: 50px;
    width: 100px;
    
}
.one{
    padding-top: 25px;
    padding-left: 500px;
}